BODY {
    background-color: #eee;
}

#content {
    box-shadow: 0 0 8px -2px black;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

#content > H1 {
    text-align: center;
}

.blurb {
    text-align: center;
}

#installations {
    padding: 0px 16px;
}

.installation {
    border-bottom: solid 1px #ccc;
}

.installation:last-child {
    border-bottom: none;
}

.installation {
    position:relative;
    height: 52px;
    padding-top: 8px;
}

.installation .btn-group {
	position: absolute;
	right: 5px;
	top: 5px;
	display: none;
	cursor: pointer;
}

.installation:hover .btn-group {
    display: block;
}

.installation .destroy {
    color: #B94A48;

    transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -webkit-transition: color 200ms linear;
}

.installation .destroy:hover {
    color: #DA4F49;
}

.installation.editing .view-mode {
    display: none;
}

.installation .edit-mode {
    display: none;
}

.installation.editing .edit-mode {
    display: block;
}

.installation .view-mode, .installation .view-mode INPUT,
.installation .edit-mode, .installation .edit-mode INPUT {
    font-size: 36px;
    line-height: 36px;
}

#footer {
    border-radius: 0 0 5px 5px;
    padding: 16px 16px;
}

/* Playing with background color animation
.installation {
    transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -webkit-transition: background-color 200ms linear;
}

.installation:hover {
     background-color: #eee;
}
*/