BODY {
    background-color: #eee;
}

#content {
    box-shadow: 0 0 8px -2px black;
    border-radius: 0 0 5px 5px;
    background-color: white;
}

#content > H1 {
    text-align: center;
}

.blurb {
    text-align: center;
    margin-bottom:2em;
}

.blurb TT {
    font-weight: bold;
}

#no-installations {
    padding: 4em;
    text-align: center;
    color: gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}

#installations {
    padding: 0px 16px;
}

.installation {
    border-bottom: solid 1px #ccc;
}

.installation:last-child {
    border-bottom: none;
}

.installation {
    position:relative;
    height: 52px;
    padding-top: 8px;
}

.installation .btn-group {
	position: absolute;
	right: 5px;
	top: 5px;
	display: none;
	cursor: pointer;
    line-height: 52px;
}

.installation:hover .btn-group {
    display: block;
}

.installation .destroy {
    color: #B94A48;

    transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -webkit-transition: color 200ms linear;
}

.installation .destroy:hover {
    color: #DA4F49;
}

.installation.editing .view-mode {
    display: none;
}

.installation .edit-mode {
    display: none;
}

.installation.editing .edit-mode {
    display: block;
}

.installation a.location {
    display: block;
    padding-top: 5px;
    padding-left: 7px;
    white-space: nowrap;
    height: 64px; /* as long as it's big enough to capture one line */
    overflow: hidden;
    text-overflow: ellipsis;
}

.installation .view-mode, .installation .edit-mode {
    font-size: 36px;
    line-height: 36px;
    height: 36px;
}

.installation INPUT, .installation LABEL {
    font-size: 36px;
    line-height: 36px;
    height: 48px;
}

#footer {
    border-radius: 0 0 5px 5px;
    padding: 16px 16px;
}

/* Playing with background color animation
.installation {
    transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    -o-transition: background-color 200ms linear;
    -webkit-transition: background-color 200ms linear;
}

.installation:hover {
     background-color: #eee;
}
*/